# Core Python packages
numpy==1.24.4
matplotlib

# Reinforcement Learning
torch==2.2.0+cu121
torchaudio==2.2.0+cu121
torchvision==0.17.0+cu121
--find-links https://download.pytorch.org/whl/torch_stable.html

# Environment libraries
gym==0.26.2
gym[box2d]
pygame
gym-super-mario-bros==7.4.0

# Dev utilities
tqdm
notebook
wandb